.sec {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #DCDCDC;
}

.header{
  position: fixed;
  width: 95%;
  height: 70px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px black;
  border: 1px solid grey;
  border-radius:15px;
  z-index:199;
  background-color: #9E9E9E;
  transition: background-color 0.5s ease;
}

.shiftchanger{
  margin-left: auto;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 50px;
  height: 50px;
  background-color: #eee4e4;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.langIcon{
  z-index: 1000;
  position: relative;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  
  border: 1px rgb(105, 105, 105) solid;
  transition: background-color 0.3s ease,
  border-bottom 0.3s ease;
}

.langIconOpen{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;


}

.langIcon:hover{
  background-color: rgb(52, 52, 52);
  
}

.langMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 40px;
  right: -1.25px;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 250px;
  overflow: hidden;
  background-color: #9E9E9E;
  opacity: 1;
  border: 1px rgb(105, 105, 105) solid;
  border-radius: 15px;
  border-top: none;
  transition: height 0.3s ease,
              opacity 0.3s ease,
              transform 0.3s ease;
}

.langClose {
  height: 0;
  opacity: 0;
  transform: translateY(-10px);
}

.flag{
  cursor:pointer;
  width: 40px;
  padding-top: 3px;
}


.descNameDiv{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  width: 600px;
  height: 300px;
  overflow: hidden;
  transition: height 1s ease-out,
              opacity 1s ease-out;

}
.closeDiv{
  height: 0;
  opacity: 0;
}

.name{
  font-size: 70px;
  font-weight: 700;
  margin-top: 0;
  opacity: 0;
  animation: slideDown 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  transition: color 0.5s ease;
}
.desc{
    font-size: 20px;
    opacity: 0;
    animation: slideDown2 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    transition: color 0.5s ease;
}

.sendingDiv {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 120px;
  width: 780px;
  transition: transform 0.6s ease;
}

.sendDown{
  margin-top: 200px;
  width: 200px;
}

.textarea {
  width: 650px;
  height: 150px;
  margin-left: auto;
  background: grey;
  border: 1px solid grey;
  border-radius: 12px;
  color: #e0e0e0;
  font-size: 17px;
  padding: 16px;
  outline: none;
  resize: none;
  overflow: hidden;
  transition: box-shadow 0.1s ease, width 0.6s ease, height 1 ease, background 0.5s ease;
}
.textarea:focus {
  box-shadow: 0 0 10px black;
}

.TareaDec{
  height: 60px;
}

.button {
  width: 100px;
  height: 50px;
  background-color: grey;
  color: #000000;
  margin-left: 14px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 15px;
  transition: 
          opacity 0.4s ease, 
          transform 0.6s ease, 
          box-shadow 0.2s ease,
          color 0.5s ease, 
          background-color 0.5s ease;
}
.showButton {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.hideButton {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.button:hover{
  box-shadow: 0 0 10px black;
  color: white;
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


.output {
  width: 800px;
  background: #1f1f1f;
  color: white;
  border-radius: 15px;
  white-space: pre-wrap;
  line-height: 1.7;
  padding:15px;
  word-break: break-word;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: background-color 0.5s ease,    
              max-height 1.5s ease,
              opacity 0.6s ease;
}


.outputVisible {
  max-height: 1000px;
  opacity: 1;
}

.error{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(206, 0, 0);
  background-color: rgb(104, 0, 0);

  color: white;
  font-weight: 500;
  font-size: 18px;
  width: 400px;
  min-width: 100px;
  height: 50px;
  min-height: 3px;

  position: absolute;
  top: 100px;
  right: 30px;
  border-radius: 15px;
}
.disappear{
  display: none;
}

@keyframes slideDown {
  20% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown2 {
  40% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

